In [1]:
import pandas as pd
import os
import sys 
import importlib

In [2]:
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "../..")))

In [3]:
import src.paths
import src.helpers
importlib.reload(src.paths)
importlib.reload(src.helpers)
from src.helpers import DataCleaner
from src.helpers import DatasetManager

In [4]:
from src.paths import DIR_DATA_PROCESADA
from src.paths import RUTA_TITULO_2019
from src.paths import RUTA_ALIAS_2019
from src.paths import RUTA_CRITICAS_2019
from src.paths import RUTA_PERSONAL_2019
from src.paths import RUTA_PRINCIPALES_2019
from src.paths import RUTA_NOMBRE_2019

In [24]:
dm = DatasetManager()
preview = dm.ver_preview(RUTA_TITULO_2019)

Columnas: ['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'startYear', 'endYear', 'runtimeMinutes', 'genres']

Primeras filas:
      tconst titleType         primaryTitle  \
0  tt0116991     movie  Mariette in Ecstasy
1  tt0385887     movie  Motherless Brooklyn
2  tt0437086     movie  Alita: Battle Angel
3  tt0441881     movie         Danger Close

                          originalTitle  startYear endYear  runtimeMinutes  \
0                   Mariette in Ecstasy       2019      \N             101
1                   Motherless Brooklyn       2019      \N             144
2                   Alita: Battle Angel       2019      \N             122
3  Danger Close: The Battle of Long Tan       2019      \N             118

                    genres
0                    Drama
1      Crime,Drama,Mystery
2  Action,Adventure,Sci-Fi
3         Action,Drama,War

In [25]:
dm = DatasetManager()
preview = dm.ver_preview(RUTA_PRINCIPALES_2019)

Columnas: ['tconst', 'nconst', 'category', 'characters']

Primeras filas:
      tconst     nconst category                characters
0  tt0116991  nm0642374  actress     ["Mariette Baptiste"]
1  tt0116991  nm0001693  actress  ["Mother Saint-Raphael"]
2  tt0116991  nm0032185  actress      ["Sister Philomene"]
3  tt0116991  nm0064229  actress                ["Sister"]

In [26]:
dm = DatasetManager()
preview = dm.ver_preview(RUTA_NOMBRE_2019)

Columnas: ['nconst', 'primaryName', 'primaryProfession']

Primeras filas:
      nconst      primaryName                   primaryProfession
0  nm0000003  Brigitte Bardot   actress,music_department,producer
1  nm0000005   Ingmar Bergman               writer,director,actor
2  nm0000023     Judy Garland  actress,soundtrack,archive_footage
3  nm0000032  Charlton Heston               actor,director,writer

In [27]:
dm = DatasetManager()
preview = dm.ver_preview(RUTA_ALIAS_2019,n=30)

Columnas: ['tconst', 'title', 'isOriginalTitle', 'region', 'language']

Primeras filas:
       tconst                                 title  isOriginalTitle region  \
0   tt0116991                   Mariette in Ecstasy                0     CA
1   tt0385887             Тъмната страна на Бруклин                0     BG
2   tt0385887                                布鲁克林秘案                0     CN
3   tt0385887                   Motherless Brooklyn                0     HK
4   tt0385887                 Huérfanos de Brooklyn                0     US
5   tt0385887                Les ombres de Brooklyn                0     CA
6   tt0385887                             Ir Yetoma                0     IL
7   tt0385887                          マザーレス・ブルックリン                0     JP
8   tt0385887                        Öksüz Brooklyn                0     TR
9   tt0437086                     Алита: Боен ангел                0     BG
10  tt0437086                              阿丽塔：战斗天使                0     CN
11  tt0437086                   Alita: Battle Angel                0     HK
12  tt0437086      Battle Angel: La última guerrera                0     US
13  tt0437086             Alita : L'ange conquérant                0     CA
14  tt0437086                   Alita: Mal'akh Krav                0     IL
15  tt0437086                     अलीटा: बेटल एंजेल                0     IN
16  tt0437086                        アリータ　バトル・エンジェル                0     JP
17  tt0437086                  Alita: Borbeni Anđeo                0     BA
18  tt0437086                   Alita: Savaş Meleği                0     TR
19  tt0441881  Danger Close: The Battle of Long Tan                0     IN
20  tt0441881                       デンジャー・クロース 極限着弾                0     JP
21  tt0441881                         Yakın Tehlike                0     TR
22  tt0448115                                Шазам!                0     BG
23  tt0448115                                 雷霆沙赞！                0     CN
24  tt0448115                               Shazam!                0     EG
25  tt0448115                              ¡Shazam!                0     US
26  tt0448115                                शज़ैम!                0     IN
27  tt0448115                                 シャザム！                0     JP
28  tt0448115                         Shazam! 6 Güç                0     TR
29  tt0448115                               沙贊！神力集結                0     HK

   language
0        en
1        bg
2       cmn
3        en
4        es
5        fr
6        he
7        ja
8        tr
9        bg
10      cmn
11       en
12       es
13       fr
14       he
15       hi
16       ja
17       sr
18       tr
19       en
20       ja
21       tr
22       bg
23      cmn
24       en
25       es
26       hi
27       ja
28       tr
29      yue

In [28]:
dm = DatasetManager()
preview = dm.ver_preview(RUTA_PERSONAL_2019)

Columnas: ['tconst', 'directors', 'writers']

Primeras filas:
      tconst  directors                                            writers
0  tt0116991  nm0007037                                          nm0361069
1  tt0385887  nm0001570                                nm0001570,nm0504672
2  tt0437086  nm0001675                      nm0000116,nm0436164,nm1738737
3  tt0441881  nm0826541  nm0064181,nm1792356,nm1764825,nm0838283,nm4870103

In [35]:
dm = DatasetManager()
preview = dm.ver_preview(RUTA_CRITICAS_2019,n=30)

Columnas: ['tconst', 'averageRating', 'numVotes']

Primeras filas:
        tconst  averageRating  numVotes
0    tt0116991            7.0        84
1    tt0385887            6.8     65258
2    tt0437086            7.3    315718
3    tt0441881            6.8     15983
4    tt0448115            7.0    405112
5    tt0783640            6.8     15048
6    tt0800325            7.0     59064
7    tt0810836            5.3      1163
8    tt0837563            5.7    102669
9    tt0858419            5.6       638
10  tt10001948            5.8        35
11  tt10002654            6.3      1120
12  tt10003978            7.6       489
13  tt10004944            3.8       406
14  tt10005162            5.2       139
15  tt10006006            5.4      8501
16  tt10006270            4.9       986
17  tt10008784            6.3      4211
18  tt10009030            5.8      3624
19  tt10009098            7.7        80
20  tt10009434            5.4       282
21  tt10010368            8.0       971
22  tt10010748            8.6        37
23  tt10011102            7.2       125
24  tt10011226            7.4       307
25  tt10011232            7.3       494
26  tt10011252            8.2       214
27  tt10011264            6.9        96
28  tt10011270            7.5       125
29  tt10011284            7.4        70

In [30]:
nombres_2019 = pd.read_csv(RUTA_NOMBRE_2019)
print(f"Nombres cargados: {len(nombres_2019):,}")

Nombres cargados: 133,957

In [34]:
nombres_2019 = pd.read_csv(RUTA_NOMBRE_2019)
print(f"Nombres cargados: {len(nombres_2019):,}")

Nombres cargados: 70,202

In [ ]:
titulos_2019 = pd.read_csv(RUTA_TITULO_2019)
print(f"Titulos cargados: {len(titulos_2019):,}")

Nombres cargados: 6,753

Análisis crew

In [11]:
crew = pd.read_csv(RUTA_PERSONAL_2019, dtype=str)
principales = pd.read_csv(RUTA_PRINCIPALES_2019, dtype=str)

In [12]:
coincidencias = crew.merge(
    principales,
    left_on=["tconst", "directors"],
    right_on=["tconst", "nconst"],
    how="inner")

coinciden_unicos = coincidencias[["tconst", "directors"]].drop_duplicates()

total_directores = len(crew)
total_coinciden = len(coinciden_unicos)
total_no_coinciden = total_directores - total_coinciden

porc_coinciden = (total_coinciden / total_directores) * 100 if total_directores > 0 else 0
porc_no_coinciden = (total_no_coinciden / total_directores) * 100 if total_directores > 0 else 0

print(f"Total directores en crew_2019: {total_directores:,}")
print(f"Coinciden en principals_2019:  {total_coinciden:,}  ({porc_coinciden:.2f}%)")
print(f"No coinciden:                 {total_no_coinciden:,}  ({porc_no_coinciden:.2f}%)")

Total directores en crew_2019: 13,289
Coinciden en principals_2019:  12,686  (95.46%)
No coinciden:                 603  (4.54%)