In [5]:
import os
import pandas as pd

TITULOS = '../data/title.basics.tsv'

def read_tsv_chunks(file_path: str):
    return pd.read_csv(file_path, sep='\t', chunksize=10000)

In [7]:
titulos_iterable = read_tsv_chunks(TITULOS)

ultimo_chunk = None
for chunk in titulos_iterable:
    ultimo_chunk = chunk

ultimo_chunk.tail(15)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11875176,tt9916826,tvEpisode,Episode #3.10,Episode #3.10,0,2009,\N,\N,Drama
11875177,tt9916830,tvEpisode,Episode #2.6,Episode #2.6,0,1973,\N,\N,Game-Show
11875178,tt9916832,tvEpisode,Episode #3.11,Episode #3.11,0,2009,\N,\N,Drama
11875179,tt9916834,tvEpisode,Episode #3.12,Episode #3.12,0,2009,\N,\N,Drama
11875180,tt9916836,tvEpisode,Episode #3.14,Episode #3.14,0,2009,\N,\N,Drama
11875181,tt9916838,tvEpisode,Episode #3.13,Episode #3.13,0,2009,\N,\N,Drama
11875182,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,\N,11,"Adventure,Animation,Comedy"
11875183,tt9916842,tvEpisode,Episode #3.16,Episode #3.16,0,2009,\N,\N,Drama
11875184,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2009,\N,\N,Drama
11875185,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2009,\N,\N,Drama
11875186,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,Drama
11875187,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,Drama
11875188,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,Drama
11875189,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
11875190,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [ ]:

df_nombres = read_tsv_chunks('../data/name.basics.tsv')
df_nombres.tail(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
14677622,nm9993709,Lu Bevins,\N,\N,"producer,writer,director","tt17717854,tt11772904,tt11772812,tt11697102"
14677623,nm9993710,Nestor Rudnytskyy,\N,\N,\N,\N
14677624,nm9993711,David Gluzman,\N,\N,\N,\N
14677625,nm9993712,Corny O'Connell,\N,\N,\N,\N
14677626,nm9993713,Sambit Mishra,\N,\N,"writer,producer","tt20319332,tt27191658,tt10709066,tt15134202"
14677627,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
14677628,nm9993716,Essias Loberg,\N,\N,\N,\N
14677629,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
14677630,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
14677631,nm9993719,Andre Hill,\N,\N,\N,\N

In [ ]:
df_crew = read_tsv_chunks('../data/crew.basics.tsv')
df_crew.tail(10)

In [ ]:
df_episodios = read_tsv_chunks('../data/episode.basics.tsv')
df_episodios.tail(10)

In [ ]:

df_criticas = read_tsv_chunks('../data/review.basics.tsv')
df_criticas.tail(10)

In [ ]:
def direccionArchivo():
    absFilePath=os.path.abspath(__file__)
    path,filename=os.path.split(absFilePath)

    return path

def crearData():
    path=direccionArchivo()
    return pd.read_csv(path+"./mundial.csv")